.main{
    height: 100vh;
    position: relative;
}
.carruselRespuestas{
    height: 100vh;
    position: absolute;
    z-index: 0;
}
.copyrightContainer{
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100%;
}
.textoCopyright{
    padding-top: 5px;
    color: gray;
    font-size: calc(.5rem + .7vw);
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
}